
body {
    -webkit-font-smoothing: antialiased;
}

#map {
    height: 100%;
}

#maps {
    height: 100%;
}

#professionnel{
    display: none;
}

.container-body {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 209px;
}

.userBlock{
    padding: 14px;
    width: 150px;
    cursor: pointer;
}

.selected{
    border-bottom: 3px solid #00d0d0;
    background-color: #eef4f4;
}

.logo {
    display: inline !important;
    height: 33px;
    margin-bottom: 3px;
}

.navbar-brand {
    width: 225px;
    background-color: #00d0d0;
    color: white !important;
    padding: 8px 15px;
    color: #2b303b;
}

.navbar-brand:hover {
    background-color: #007a7a !important;
}

.navbar-fixed-top {
    background-color: white;
    color: #262626;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border: none;
    text-align: center;
}

.menu-resp {
    box-shadow: 2px 2px 8px -3px #000;
    border-radius: 3px;
    border: none;
    background-color: #2b303b;
}

.navbar-form{
    border: 0;
}

.navbar-header {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.navbar-collapse{
    border: none;
}

input#inputTheme, input#inputPlace {
    width: 100%;
    height: 40px;
    background: #2b303b;
    border: none;
    font-size: 10pt;
    color: #262626;
    padding-left: 35px;
    color: #fff;
}

input#inputPlace{
    height: 33px;
    width: 100%px;
    background: #f4f4f4;
    color: #606061;
    outline: none;
}
input#inputPlace:hover, input#inputPlace:focus {
    box-shadow: 3px 3px 15px -3px #000;
    transition: 0.3s;
}

.maxWidth{
    width: 100%;
}

#submitPlace{
    position: absolute;
    border: none;
    background: transparent;
    top: 22px;
    left: 10px;
    cursor: text;
}

input#inputPlace::-webkit-input-placeholder{
    color: #5f5f5d;
}

input#inputTheme:hover > .icon {
    color: #4f5b66;
}

input#inputTheme::-webkit-input-placeholder {
    color: #65737e;
}

input#inputTheme:-moz-placeholder { /* Firefox 18- */
    color: #65737e;
}

input#inputTheme::-moz-placeholder { /* Firefox 19+ */
    color: #65737e;
}

input#inputTheme:-ms-input-placeholder {
    color: #65737e;
}

.icon {
    position: absolute;
    top: 8px;
    left:2px;
    background: none;
    border: none;
    color: #4f5b66;
}

.badge{
    float: right;
}

input#inputTheme:focus, input#inputTheme:active {
    outline: none;
}

.animate {
    transition: 0.3s;
}

.mat-btn {
    width: 62px;
    height: 62px;
    overflow: hidden;
    position: fixed;
    bottom: 10px;
    right: 20px;
    text-align: center;
    cursor: pointer;
    transition: height 1s;
}

.mat-btn:hover {
    height: 220px;
    transition: height 0s;
    transition-delay: height 2s;
}

.mat-btn ul {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
}

.mat-btn ul ul {
    position: relative;
    bottom: 220px;
}

.mat-btn li {
    list-style: none;
}

.mat-btn a {
    height: 100%;
    width: 100%;
    line-height: 35px;
    text-align: center;
    display: block;
    color: #fff;
    text-decoration: none;
}

.mat-btn ul li {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px -3px #000;
    background: #00d0d0;
    transition: 0.2s;
}

.mat-btn ul .spin-btn {
        background-image: url("../img/menu-verticale.png");
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.2s;
}

.mat-btn:hover ul .spin-btn {
    transform: rotate(360deg);
    background-image: url("../img/gear.png");
}

.mat-btn ul li ul li {
    margin: 15px auto;
    height: 35px;
    width: 35px;
    transition: 0.1s;
}

.mat-btn ul li ul li:hover {
    box-shadow: 3px 3px 15px -3px #000;
}

.mat-btn ul li ul li:nth-child(1) {
    background: #aed581;
    opacity: 0;
    transition-delay: 0.01s;
}

.mat-btn ul li ul li:nth-child(2) {
    background: #3c80f6;
    opacity: 0;
    transition-delay: 0.05s;
}

.mat-btn ul li ul li:nth-child(3) {
    background: #d2a518;
    opacity: 0;
    transition-delay: 0.09s;
}

.mat-btn:hover ul li ul li:nth-child(1) {
    opacity: 1;
    transition-delay: 0.09s;
}

.mat-btn:hover ul li ul li:nth-child(2) {
    opacity: 1;
    transition-delay: 0.05s;
}

.mat-btn:hover ul li ul li:nth-child(3) {
    opacity: 1;
    transition-delay: 0.01s;
}

.leaflet-control-zoom-in {
    box-shadow: 2px 2px 8px -3px #000;
    border-radius: 55px !important;
    background-color: #f44336 !important;
    color: white !important;
    height: 38px !important;
    padding-top: 5px !important;
    width: 38px !important;
}

.leaflet-control-zoom-in:hover {
    background-color: #ae3027 !important;
}

.leaflet-control-zoom-out {
    border-bottom: none!important;
    box-shadow: 2px 2px 8px -3px #000 !important;
    border-radius: 55px !important;
    background-color: #f44336 !important;
    color: white !important;
    height: 38px !important;
    padding-top: 5px !important;
    width: 38px !important;
    margin-top: 5px !important;
}

.leaflet-control-zoom-out:hover {
    background-color: #ae3027 !important;
}

.leaflet-bar{
    box-shadow: none !important;
}
.leaflet-disabled{
    background-color: darkgrey!important;
}
.leaflet-disabled:hover{
    background-color: darkgrey!important;
}

.leaflet-bar-part-single{
    border-radius: 50px!important;
    height: 39px!important;
    width: 39px!important;
    background-color: #6BD0DA!important;
    color: white!important;
    padding-top: 5px!important;
}

.range {
    width: 100%;
    display: table;
    height: 25px;
    margin-top: 12px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: rgb(66, 139, 202);
}
.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: rgb(92, 184, 92);
}
.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: rgb(91, 192, 222);
}
.range.range-info output {
    background-color: rgb(91, 192, 222);
}
.range.range-info input[type="range"] {
    outline-color: rgb(91, 192, 222);
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: rgb(240, 173, 78);
}
.range.range-warning output {
    background-color: rgb(240, 173, 78);
}
.range.range-warning input[type="range"] {
    outline-color: rgb(240, 173, 78);
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: rgb(217, 83, 79);
}
.range.range-danger output {
    background-color: rgb(217, 83, 79);
}
.range.range-danger input[type="range"] {
    outline-color: rgb(217, 83, 79);
}

@media screen and (min-width: 1100px) {
    input#inputTheme {
        width: 225px;
    }

    .container-body {
        top: 50px;
    }

    .top-nav>li {
        display: inline-block;
        float: left;
    }

    #submitPlace{
        top: 14px;
        left: 27px;
    }

    .range{
        width: 300px;
    }

    .maxWidth{
        width: 250px;
    }
}